<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="it.nelson.e4.hello"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://it.nelson.e4.hello/it.nelson.e4.hello.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/it.nelson.e4.hello/css/default.css">
         </property>
         <property
               name="appName"
               value="it.nelson.e4.hello">
         </property>
      </product>
   </extension>

</plugin>
